header {
    background: url(../../assets/img/bg-slider-06.jpg) center/cover;
    padding: 0 50px;
    color: white;

    nav {
        height: 12vh;
        display: grid;
        grid-template-columns: 10% 82% 8%;
        align-items: center;
        max-width: 1100px;
        margin: 0 auto;

    .logo {
        font-family: $font1;
        font-weight: 100;
        font-size: 2rem;
        text-align: left;
    }
    ul{
        @include alignChildren(space-around);
        text-transform: uppercase;
        font-size: 0.8rem;
        padding: 0 30px;
        
        li {
            cursor: pointer;
        }
    }
    .nav-icons {
        @include alignChildren(space-around);
        font-size: 0.9rem;

        i {
            transition: 0.2s;
            cursor: pointer;

            &:hover {
                transform:scale(1.5);
            }
        }
    }
    }

    .header-text {
        @include childCenter;
        height: 88vh;

        div {
            margin-top: -150px;

            h2 {
                font-size: 3rem;
                font-weight: 100;
                color: goldenrod;
                font-family: $font1;
            }
            h1 {
                font-size: 3.2rem;
                letter-spacing: 10px;
                font-weight: 700;
                margin-top: -28px;
                font-family: $font2;
            }
            img {
                height: 27px;
                margin: 32px 0;
            }
            h6 {
                font-size: 0.75rem;
                letter-spacing: 6px;
                font-weight: 200;
            }
        }
    }
}
