.section1 {
    display: grid;
    grid-template-columns: 50% 50%;
    background: white;

    .intro-text {
        margin: 15px;
        padding:30px 15px;
        border: 1px dashed goldenrod;
        
        h2 {
            color: goldenrod;
            font-family: $font1;
            font-size: 2rem;
            font-weight: 500;
        }
        h3 {
            margin-top: -12px;
            font-family: $font2;
        }
        img {
            margin: 26px;
        }
        img:nth-of-type(2) {
            height: 70px;
            border-radius: 50%;
            margin-bottom: 8px;
        }
        h4 {
            font-family: $font2;
            font-weight: 100;   
        }
        h5 {
            color: grey;
            font-size: 0.7rem;
        }
    }
        .intro-pic {
            background: url(../../assets/img/store-01.jpg) center/cover;
        }

}