@charset "UTF-8";
@font-face {
  font-family: "Allura";
  src: url(../assets/fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  text-align: center;
  font-family: Roboto, serif;
  background: rgb(37, 37, 37);
}

header {
  background: url(../../assets/img/bg-slider-06.jpg) center/cover;
  padding: 0 50px;
  color: white;
}
header nav {
  height: 12vh;
  display: grid;
  grid-template-columns: 10% 82% 8%;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}
header nav .logo {
  font-family: Allura, cursive;
  font-weight: 100;
  font-size: 2rem;
  text-align: left;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0 30px;
}
header nav ul li {
  cursor: pointer;
}
header nav .nav-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.9rem;
}
header nav .nav-icons i {
  transition: 0.2s;
  cursor: pointer;
}
header nav .nav-icons i:hover {
  transform: scale(1.5);
}
header .header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
}
header .header-text div {
  margin-top: -150px;
}
header .header-text div h2 {
  font-size: 3rem;
  font-weight: 100;
  color: goldenrod;
  font-family: Allura, cursive;
}
header .header-text div h1 {
  font-size: 3.2rem;
  letter-spacing: 10px;
  font-weight: 700;
  margin-top: -28px;
  font-family: Poppins, serif;
}
header .header-text div img {
  height: 27px;
  margin: 32px 0;
}
header .header-text div h6 {
  font-size: 0.75rem;
  letter-spacing: 6px;
  font-weight: 200;
}

.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  background: white;
}
.section1 .intro-text {
  margin: 15px;
  padding: 30px 15px;
  border: 1px dashed goldenrod;
}
.section1 .intro-text h2 {
  color: goldenrod;
  font-family: Allura, cursive;
  font-size: 2rem;
  font-weight: 500;
}
.section1 .intro-text h3 {
  margin-top: -12px;
  font-family: Poppins, serif;
}
.section1 .intro-text img {
  margin: 26px;
}
.section1 .intro-text img:nth-of-type(2) {
  height: 70px;
  border-radius: 50%;
  margin-bottom: 8px;
}
.section1 .intro-text h4 {
  font-family: Poppins, serif;
  font-weight: 100;
}
.section1 .intro-text h5 {
  color: grey;
  font-size: 0.7rem;
}
.section1 .intro-pic {
  background: url(../../assets/img/store-01.jpg) center/cover;
}

.section2 {
  color: white;
  padding: 80px;
  position: relative;
}
.section2:after {
  content: "";
  position: absolute;
  height: 620px;
  width: 100%;
  background: url(../../assets/img/bg-menu-01.jpg);
  left: 0;
  bottom: 0;
}
.section2 h2 {
  color: goldenrod;
  font-size: 2rem;
  font-family: Allura, cursive;
  font-weight: 500;
  padding: 30px 0 30px;
}
.section2 ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 30px auto;
  min-width: 500px;
}
.section2 ul li {
  border-bottom: 1px solid grey;
  padding-bottom: 6px;
}
.section2 .meals {
  background: white;
  color: black;
  width: 85%;
  max-width: 880px;
  margin: 0 auto;
  border-top: 4px solid maroon;
  padding: 15px 0;
  display: grid;
  grid-template-columns: 50% 50%;
  z-index: 10;
  position: relative;
}
.section2 .meals .meal {
  display: grid;
  grid-template-columns: 25% 50% 15%;
  border-bottom: 1px dashed grey;
  padding: 30px 0;
  margin: 0 20px;
}
.section2 .meals .meal img {
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  align-self: center;
}
.section2 .meals .meal .meal-text {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 10px;
  height: 100%;
}
.section2 .meals .meal .meal-text h3 {
  text-transform: uppercase;
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.section2 .meals .meal > p {
  color: goldenrod;
  font-weight: 600;
  display: grid;
  align-items: center;
  height: 100%;
}

.section3 {
  padding: 100px 15px 65px;
  color: white;
}
.section3 .form-content {
  display: grid;
  grid-template-columns: 30% 70%;
  background: white;
  max-width: 1050px;
  margin: 0 auto;
}
.section3 .form-content .hours {
  padding: 24px;
  background: black;
}
.section3 .form-content .hours .hours-content {
  border: 1px dashed grey;
  padding: 20px 0;
}
.section3 .form-content .hours .hours-content h3 {
  font-family: Allura, cursive;
  font-style: 2.5rem;
  font-weight: 100;
  color: goldenrod;
  margin-bottom: 15px;
  font-size: 2rem;
}
.section3 .form-content .hours .hours-content h4 {
  font-family: Poppins, serif;
  margin-top: -16px;
  letter-spacing: 2px;
  font-size: 1.3rem;
}
.section3 .form-content .hours .hours-content img {
  margin-top: 25px;
}
.section3 .form-content .hours .hours-content h5 {
  text-transform: uppercase;
  color: goldenrod;
  font-family: Poppins, serif;
  font-weight: 100;
  font-size: 1.1rem;
  margin: 38px 0 12px;
}
.section3 .form-content .hours .hours-content p {
  font-size: 0.85rem;
}
.section3 .form-content .form-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.section3 .form-content .form-infos h2 {
  font-family: Allura, cursive;
  font-size: 2.5rem;
  font-weight: 100;
  color: goldenrod;
  margin-bottom: 10px;
}
.section3 .form-content .form-infos h3 {
  color: black;
  margin-top: -18px;
  font-family: Poppins, serif;
  font-size: 1.8rem;
}
.section3 .form-content .form-infos img {
  height: 25px;
  margin: 25px;
}
.section3 .form-content .form-infos .form-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 30px;
}
.section3 .form-content .form-infos .form-inputs > * {
  padding: 10px 0;
  margin: 10px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
}
.section3 .form-content .form-infos button {
  border: none;
  border-radius: 50px;
  background: black;
  color: white;
  padding: 16px 34px;
  letter-spacing: 4px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}
.section3 .form-content .form-infos button:hover {
  transform: translateX(3px);
  box-shadow: 0 2px 4px rgb(51, 50, 50);
}

.section4 {
  padding: 50px 20px 90px;
}
.section4 .events-container {
  max-width: 1000px;
  margin: 0 auto;
}
.section4 .events-container h2 {
  font-size: 2.5rem;
  color: goldenrod;
  font-family: Allura, cursive;
  font-weight: 100;
}
.section4 .events-container h4 {
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 900;
  color: white;
  margin-top: -12px;
  font-family: Poppins, serif;
}
.section4 .events-container img {
  margin: 30px 0;
}
.section4 .events-container .event-grid {
  display: grid;
  grid-template-columns: 58% 42%;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  grid-template-areas: "a b" "c b";
}
.section4 .events-container .event-grid .date-content {
  background: black;
  height: 86px;
  width: 86px;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 22px;
}
.section4 .events-container .event-grid .date-content h6 {
  font-size: 1.7rem;
}
.section4 .events-container .event-grid .address {
  background: white;
}
.section4 .events-container .event-grid .address h3 {
  letter-spacing: 1px;
  font-size: 1.3rem;
  font-weight: 500;
  padding-left: 8px;
}
.section4 .events-container .event-grid .address p {
  font-size: 0.9rem;
  color: rgb(81, 37, 37);
  margin-top: 20px;
  letter-spacing: 1px;
}
.section4 .events-container .event-grid .address p i {
  margin-right: 3px;
  font-size: 0.7rem;
  transform: translateY(-2px);
}
.section4 .events-container .event-grid .address p i:nth-child(2) {
  margin-left: 15px;
}
.section4 .events-container .event-grid .address h5 {
  letter-spacing: 2px;
  margin-top: 25px;
}
.section4 .events-container .event-grid .event-left {
  display: grid;
  grid-template-columns: 39% 61%;
  text-align: left;
}
.section4 .events-container .event-grid .event-left .date {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section4 .events-container .event-grid .event-left .address {
  color: black;
  padding: 30px 20px;
}
.section4 .events-container .event-grid .event-1 {
  grid-area: a;
}
.section4 .events-container .event-grid .event-1 .date {
  background: url(../../assets/img/event-01.jpg) center/cover;
}
.section4 .events-container .event-grid .event-2 {
  grid-area: c;
}
.section4 .events-container .event-grid .event-2 .date {
  background: url(../../assets/img/event-02.jpg) center/cover;
}
.section4 .events-container .event-grid .event-3 {
  grid-area: b;
  background: url(../../assets/img/event-03.jpg) center/cover;
  padding: 25px;
}
.section4 .events-container .event-grid .event-3 .address {
  height: 100%;
  padding: 0 12px;
}
.section4 .events-container .event-grid .event-3 .address h3 {
  margin: 40px 0 15px;
}
.section4 .events-container .event-grid .event-3 .address h5 {
  padding: 45px 0;
}

.section5 {
  padding: 70px 0 230px;
  position: relative;
}
.section5:after {
  content: "";
  height: 350px;
  width: 100%;
  position: absolute;
  background: url(../../assets/img/gmap.jpg) center/cover;
  left: 0;
  bottom: 0;
}
.section5 .quote-container {
  background: white;
  z-index: 3;
  position: relative;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  padding: 65px 70px;
  box-shadow: 0 0 3px #333;
}
.section5 .quote-container:before {
  content: " ";
  position: absolute;
  background: url(../../assets/img/avatar-02.jpg) center/cover;
  height: 60px;
  width: 60px;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
.section5 .quote-container .text-container {
  line-height: 30px;
}
.section5 .quote-container .text-container:before {
  content: "❝";
  font-size: 1.3rem;
}
.section5 .quote-container .text-container:after {
  content: "❞";
  font-size: 1.3rem;
}
.section5 .quote-container h2 {
  margin: 30px 0 15px;
  font-family: Roboto, serif;
  font-weight: 100;
}
.section5 .quote-container p {
  color: goldenrod;
}

footer {
  background: url(../../assets/img/bg-footer.jpg) center/cover;
  text-align: left;
  padding: 65px 32px;
  color: white;
}
footer .footer-content {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}
footer .footer-content .left-part {
  padding-right: 30px;
  line-height: 30px;
}
footer .footer-content .left-part h2 {
  font-family: Allura, cursive;
  font-size: 2.5rem;
  font-weight: 100;
  color: goldenrod;
  margin-bottom: 15px;
}
footer .footer-content .left-part p {
  font-size: 0.9rem;
  color: grey;
}
footer .footer-content .right-part {
  padding-left: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
footer .footer-content .right-part h3 {
  font-size: 0.85rem;
}
footer .footer-content .right-part input {
  margin-top: 15px;
  background: none;
  border: 1px solid rgba(166, 114, 69, 0.151);
  padding: 7px 13px;
  width: 250px;
  outline: none;
  color: white;
}
footer .footer-content .right-part .follow-us {
  display: flex;
  margin-top: 50px;
}
footer .footer-content .right-part .follow-us ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.8rem;
  color: rgb(150, 125, 125);
  width: 200px;
  cursor: pointer;
}
footer .footer-content .right-part .follow-us ul i {
  transition: 0.2s;
}
footer .footer-content .right-part .follow-us ul i:hover {
  transform: scale(1.8);
}/*# sourceMappingURL=index.css.map */